__pycache__/
venv/
scratch.py
temp_dir/
**/temp_dir/
*.pt # for saving pytorch models
*.bin # for pre-caching tokens
.idea/gpt-lab.iml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
